body {
  font-family: 'Roboto', sans-serif;
  background-color: #0a1e34;
 
}
#video-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10px;
  z-index: 1;
}


#video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); /* Adjusted colors */
  z-index: 2;
}

.back-video {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}


.intro-content {
  display: flex;
  align-items: center;  
  justify-content: space-around;  
}

section#intro p {
  font-size: 1.5em; 
  text-align: left; 
  padding: 20px; }
#image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, white); /* Adjust colors as necessary */
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0rem;
  right: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: hsla(231, 81%, 16%, 0.314);
  z-index: 3;
  
}
nav ul li {
  padding: 0 25px; 
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
nav ul li {
  margin-left: 10px;
}


nav .logo {
  width: 150px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s ease;
  font-size: 20px;
}

nav a:hover {
  transform: scale(1.2);
}

nav.open {
  opacity: 0;
  visibility: hidden;
}

nav ul li {
  margin-left: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a:hover {
  background-color: #10247db9;
  color: #fff;
}


.centered-text h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-decoration:rgb(255, 255, 255);
  text-align: center;
  font-size: 4.0rem;
}

.centered-text span {
  color: #ffffff; 
}
#intro {
  color: #f4ecec;
  text-align: center;
}




@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    :root {
        font-size: 12px;
    }
}

header {
    background-color: #333;
    height: 40rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spring {
    background-image: url(img/pexels-luis-quintero-2833037.jpg);
}

#home {
    background-image: url(img/pexels-tara-winstead-8386440.jpg);
}

#timetable{
    background-image: url(img/pexels-mahadee-hasan-15848951.jpg);
}



h1 {
    text-align: center;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #fff9f9;
    margin-top: 4rem;
    
}

footer {
    background-color: #ffffff;
    padding: 4rem;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
   margin: 1rem;
}

footer img {
    display: block;
    width: 4rem;
    height: 4rem;
    transition: all 0.3s;
}

footer a:hover img {
    transform: scale(1.3);
}



@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

article {
    max-width: 800px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 2rem;
    border-radius: 8px;
    margin: 1rem;
    transform: translate(0, 10rem);
    opacity: 0;
    transition: all 1s;
}

article.inviewport {
    transform: translate(0, 0);
    opacity: 1;
}


 h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    letter-spacing: -1px;
    color: rgb(255, 255, 255);
 }   

 .carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; 
  background: transparent; 
  background-size: cover; padding: 0 50px; gap: 50px;
  padding-bottom: 2rem;
  padding-top: 0rem;
}

.title-container h1, .title-container h3 {
  text-align: center;
  color: #ffffffbb;
  padding-bottom: 1rem;
  
}

.carousel {
  position: relative;
  width: 100%; 
  color:#fffffffc;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.carousel-inner .item {
  display: none;
  width: 100%; 
}

.carousel-inner .item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.speaker-image {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
 border-radius: 10000px;
}





h2 {
  text-align: center;
  margin-bottom: 30px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


@media (max-width: 600px) {
  th, td {
    padding: 3px;
  }
}

#contact {
  background-color: #0c2f67ef;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 70px;
  width: auto;
  margin-right: 0;
  margin-left: 2rem;
}

.social-media a {
  margin: 0 60px;
}

.facebook .fab {
  font-size: 30px;
  color: #1877f2;
}

.instagram .fab {
  font-size: 30px;
  color: #c32aa3;
}

.twitter .fab {
  font-size:30px;
  color: #1da1f2;
}

.linkedin .fab {
  font-size: 30px;
  color: #0077b5;
}

.youtube .fab {
  font-size: 30px;
  color: #ff0000;
}

.flickr .fab {
  font-size: 30px;
  color: #ff0084;
}
